:root{
    --Soft-orange: hsl(35, 77%, 62%);
    --Soft-red: hsl(5, 85%, 63%);
    --Off-white: hsl(36, 100%, 99%);
    --Grayish-blue: hsl(233, 8%, 79%);
    --Dark-grayish-blue: hsl(236, 13%, 42%);
    --Very-dark-blue: hsl(240, 100%, 5%);
}

*{
    margin: 0%;
    box-sizing: border-box;
    padding: 0%;
    list-style-type: none;
    text-decoration: none;
}

body{
    background-color: var(--Off-white);
    min-height: 100vh;
}

header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2rem 1.5rem;

    nav{
        display: none;
        position: fixed;
        top: 0px;
        right: 0px;
        width: 70%;
        background-color: var(--Off-white);
        padding: 2rem 1.5rem;
        height: 100vh;
        box-shadow: 0 0 10px var(--Grayish-blue);
        .icon_menu_close{
            text-align: right;
            img{cursor: pointer;}
        }
        ul{
            margin-top: 3.5rem;
            li{
                margin: 15px 0;
                padding: 5px 0;
                font-size: 18px;
                a{color: var(--Very-dark-blue);}
            }
        }
    }
    //toggle nav
    .nav_active{
        display: block;
    }

    .icon_menu{ img{cursor: pointer;} }
}